<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:insert="fragments :: headerfiles">
</head>
<body>
<header th:insert="fragments :: nav"></header>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">No autorizado 403</h1>
        <p class="lead"></p>
        <hr class="my-4">
        <p>intentaste entrar en un lado que no deberias, vuelve al inicio para poderr seguir con tu compra</p>
        <a class="btn btn-primary btn-lg" th:href="@{/index}" role="button">Volver Inicio</a>
    </div>
</div>

<footer th:insert="fragments :: footer"></footer>
<div th:insert="fragments :: scripts"></div>
</body>
</html>